<%- include('./navbar.ejs') %>
<div class="container">
    <div class="chat-container">
        <div class="cabecero">
            <h2>GabiChat</h2>
        </div>
        <div class="chat-messages">
            <!-- Aquí van los mensajes de chat -->
            <h2>¡Empieza a chatear!</h2>
        </div>
        <div class="chat-input-no-va">
            <!--no tener en cuenta esto-->
        </div>
    </div>
    <div class="sidebar">
        <div class="contacts-container">
            <div class="contacts-header">
                <h2>Mis chats</h2>
            </div>
            <!-- Aquí van los chats -->
        </div>
        <div class="groups-container">
            <div class="groups-header">
                <h2>Grupos</h2>
                <button class="add-group">+</button>
            </div>
            <!-- Aquí van los grupos -->
        </div>
    </div>
    <div class="chat-button">
        <button class="circular-button"><i class="fas fa-pencil-alt"></i></button>
    </div>
</div>

<!-- Scripts opcionales de Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-afZRd1iNXm47F4xncsc5xlMcK7Ay+zAMFmLZyfc8v8NTmH/4h+2h+YGg2ywwuBgC" crossorigin="anonymous"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="js/index.js"></script>
</body>
</html>