<!-- Incluir el contenido d<%- include('navbar.ejs') %>el nav -->

<%- include('./navbar') %>
    <div class="container-fluid">
        <div class="row">
            <!-- Chat -->
            <div class="col-md-6">
                <div class="chat-container">
                    <!-- Contenido del chat (inputs, botones, etc.) -->
                </div>
            </div>
            <!-- Usuarios -->
            <div class="col-md-3">
                <div class="users-container">
                    <!-- Lista de usuarios -->
                </div>
            </div>
            <!-- Grupos -->
            <div class="col-md-3">
                <div class="groups-container">
                    <!-- Lista de grupos -->
                    <h2>Grupos</h2>
                    <!-- Botón para crear grupo -->
                    <button class="btn btn-primary">Crear Grupo</button>
                    <!-- Lista de grupos -->
                </div>
            </div>
        </div>
    </div>

    <!-- Scripts opcionales de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-afZRd1iNXm47F4xncsc5xlMcK7Ay+zAMFmLZyfc8v8NTmH/4h+2h+YGg2ywwuBgC" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/index.js"></script>
</body>
</html>
