<%- include('./navbar.ejs') %>
    <div class="container">
        <div class="chat-container">
            <div class="cabecero">
                <h2>Gabimanía</h2>
            </div>
            <div class="chat-messages">
                <div class="message sent">
                    <p>Hola, ¿cómo estás?<span class="time">10:30 AM</span></p>
                </div>
                <div class="message received">
                    <p>¡Hola! Estoy bien, ¿y tú?<span class="time">10:32 AM</span></p>
                </div>
            </div>
            <div class="chat-input">
                <input type="text" placeholder="Escribe un mensaje...">
                <button>Enviar</button>
            </div>
        </div>
        <div class="sidebar">
            <div class="contacts-container">
                <div class="contacts-header">
                    <h2>Mis chats</h2>
                </div>
                <div class="contact">
                    <div class="avatar">T</div>
                    <div class="contact-info">
                        <h3>Tomás</h3>
                        <p>Hola, ¿cómo va el trabajo?</p>
                    </div>
                    <div class="contact-time">10:30 AM</div>
                </div>
                <div class="contact">
                    <div class="avatar">A</div>
                    <div class="contact-info">
                        <h3>Adri</h3>
                        <p>Acabo de hacer una nueva app</p>
                    </div>
                    <div class="contact-time">10:32 AM</div>
                </div>
                <div class="contact">
                    <div class="avatar">G</div>
                    <div class="contact-info">
                        <h3>Gabi</h3>
                        <p>Nos vemos mañana</p>
                    </div>
                    <div class="contact-time">9:15 AM</div>
                </div>
            </div>
            <div class="groups-container">
                <div class="groups-header">
                    <h2>Grupos</h2>
                    <button id="btnCreateGroupModal" class="add-group">+</button>
                </div>
                <div class="group">
                    <div class="avatar">G</div>
                    <div class="group-info">
                        <h3>Gabimaníacos</h3>
                        <p>El chat se me ha roto...</p>
                    </div>
                    <div class="group-time">10:30 AM</div>
                </div>
                <div class="group">
                    <div class="avatar">T</div>
                    <div class="group-info">
                        <h3>Tech Enthusiasts</h3>
                        <p>Reunión mañana a las 9 AM...</p>
                    </div>
                    <div class="group-time">10:32 AM</div>
                </div>
                <div class="group">
                    <div class="avatar">C</div>
                    <div class="group-info">
                        <h3>Ceica</h3>
                        <p>El 13 nos vamos de parranda!!</p>
                    </div>
                    <div class="group-time">9:15 AM</div>
                </div>
            </div>
        </div>
        <div class="chat-button">
            <button class="circular-button"><span>+</span></button>
        </div>

        <!-- Modal -->
        <div id="userListModal" class="modal">
            <div class="modal-content">
                <span class="close">&times;</span>
                <h2>Lista de Usuarios</h2>
                <ul>
                    <li>Usuario 1</li>
                    <li>Usuario 2</li>
                    <li>Usuario 3</li>
                    <!-- Agrega más usuarios según sea necesario -->
                </ul>
            </div>
        </div>
    </div>
    <!-- Modal de me cago en sus muertos -->
    <div id="createGroupModal" class="modal2">
        <div class="modal-content2">
            <span class="close2">&times;</span>
            <h2>Crear Grupo</h2>
            <div class="groups-container">
                <!-- Contenido de la modal aquí -->
                <div class="group">
                    <div class="avatar">U</div>
                    <div class="group-info">
                        <h3>Usuario 1</h3>
                        <p>Descripción del usuario...</p>
                    </div>
                    <div class="add-user-btn">+</div>
                </div>
                <div class="group">
                    <div class="avatar">U</div>
                    <div class="group-info">
                        <h3>Usuario 2</h3>
                        <p>Descripción del usuario...</p>
                    </div>
                    <div class="add-user-btn">+</div>
                </div>
                <div class="group">
                    <div class="avatar">U</div>
                    <div class="group-info">
                        <h3>Usuario 3</h3>
                        <p>Descripción del usuario...</p>
                    </div>
                    <div class="add-user-btn">+</div>
                </div>
            </div>
        </div>
    </div>
    <!-- Scripts opcionales de Bootstrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-afZRd1iNXm47F4xncsc5xlMcK7Ay+zAMFmLZyfc8v8NTmH/4h+2h+YGg2ywwuBgC"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/gabi.js"></script>
    </body>

    </html>